<div id="background">
  <form>
    <mat-form-field>
      <input matInput placeholder="Search" #searchInput>
    </mat-form-field>
  </form>
  <label>Filter</label>
  <span *ngFor="let genre of genres"><button mat-stroked-button (click)="filterMovies(genre)">{{ genre | titlecase }}</button></span>
  <button mat-stroked-button color="warn" (click)="getMovies()"><i class="material-icons">
    clear
    </i> Reset Filter</button>

  <div class="container">
    <mat-card *ngFor="let movie of movies$ | async" routerLink="/moviedetail/{{movie.id}}">
      <mat-card-title>{{ movie.name }}</mat-card-title>
      <img mat-card-image src="../../assets/images/movie-covers/{{movie.img}}" alt="movie.name">
    </mat-card>
  </div>
</div>